<div class="container">
  <div class= "dropdown-container">
    <h2>Multi-Level Dropdowns</h2>
    <p>In this example, we have created a multi-level dropdown for navigating into deeper levels.
      This dropdown works on the principle of recursive templating method in Angular 2. We have 
      used Bootstrap js and css files for the styles. No jQuery is being used in this example.</p> 
    <app-multidropdown></app-multidropdown>
  </div>
  <div class= "dropdown-container">
    <h2>Single-Level Dropdowns</h2>
    <p>In this example, we have created a simple grouped dropdown for navigating into only one level deeper.
      This dropdown works on the principle of Angular 2 looping concept. We have 
      used Bootstrap js and css files for the styles. No jQuery is being used in this example.</p> 
    <app-singleleveldropdown></app-singleleveldropdown>    
  </div>
  <div class= "dropdown-container">
    <h2>Simple Dropdowns</h2>
    <p>In this example, we have created a simple  dropdown.
      This dropdown works on the principle of Angular 2 looping concept. We have 
      used Bootstrap js and css files for the styles. No jQuery is being used in this example.</p> 
    <app-simpledropdown></app-simpledropdown>
  </div>
</div>